*.pyc
venv
test/pycritic

.idea/.name

pycritic/.idea/pycritic.iml

.idea/encodings.xml

.idea/misc.xml

.idea/vcs.xml

.idea/modules.xml

.idea/pycritic.iml

.idea/scopes/scope_settings.xml

.idea/workspace.xml

pycritic/.idea/.name

pycritic/.idea/encodings.xml

pycritic/.idea/misc.xml

pycritic/.idea/modules.xml

pycritic/.idea/scopes/scope_settings.xml

pycritic/.idea/vcs.xml

pycritic/.idea/workspace.xml
